body {
  text-align: center;
  margin: 0;
}

#title {
  background-color: #ffeefd;
}
.first {
  position: relative;
}

.first h1 {
  font-size: 3rem;
  font-family: "Playwrite AU NSW", cursive;
  /* font-optical-sizing: auto; */
  font-weight: bold;
  font-style: auto;
  color: #5c3e57;
  text-align: center;
}

.pro {
  color: #73526e;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 20px;
}

.moon {
  padding: 20px;
}

.saturn {
  display: flex;
  justify-content: end;
  padding: 50px;
}

.star1 {
  position: absolute;
  left: 35%;
  margin-bottom: 20px;
}

.star2 {
  position: absolute;
  left: 85%;
  top: 20px;
  margin-bottom: 20px;
}

.profile {
  border-radius: 50%;
}

.about-me {
  font-size: 1.15rem;
  font-family: sans;
}

.skills {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: auto;
  gap: 20px;

  margin: 10% 25% 10% 25%;
}

.skill {
  color: #73526e;
  font-size: 1.5rem;
}

.contact-btn {
  display: flex;
  justify-content: center;
}

.button {
  text-decoration: none;
  color: #fff;
  background-color: #5c3e57;
  padding: 10px 20px;
  border-radius: 10px;
  font-family: sans-serif;
  text-transform: uppercase;
  margin: 20px;
}

.button:hover {
  background-color: #a44a96;
}

.footer {
  background-color: #cb99c3;
}

span {
  text-decoration: underline;
}
